<div *ngIf="currentBook">
  <h2>{{ currentBook.title }}</h2>
  <p>{{ currentBook.description }}</p>
  <p><strong>Автори:</strong> {{ currentBook.authors.join(', ') }}</p>
  <p><strong>Среден Рейтинг:</strong> {{ calculateAverageRating(currentBook) | number:'1.1-1' }}</p>
  <div class="rating">
    <label *ngFor="let star of [1, 2, 3, 4, 5]">
      <input type="radio" name="rating" (click)="rateBook(star)" [value]="star"/>
      <span>{{ star }}</span>
    </label>
  </div>
  <button (click)="nextBook()">Следваща книга</button>
</div>
<div *ngIf="!currentBook">
  <button (click)="startOver()">Начало</button>
  <button (click)="finishRating()">Край</button>
</div>